/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #c35705, #fff);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    
}

.form-container {
    background: rgba(217, 100, 16, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #fff;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
}

.form-group input::placeholder {
    color: #ddd;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #2575fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #6a11cb;
}

.redirect {
    margin-top: 15px;
    font-size: 0.9rem;
}

.redirect a {
    color: #11afcb;
    text-decoration: none;
    font-weight: bold;
}

.redirect a:hover {
    text-decoration: underline;
}
